/* break=point */

$break-mobile: 720px;
$break-mobileIphone:375px;
$break-tab:1190px;
// mixin 
@mixin boxSizing() {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin afterSet() {
    &:after,
    &::after {
        display: block;
        content: '';
        clear: both;
    }
}

@mixin hidden() {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}