@import "reset";
@import "fonts";
@import "mixin";
@import "form";
body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none
}


/* layout - 1190px ~ 100% */

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

#header {
    @include afterSet;
    position: relative;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background: #fff;
    z-index: 11;
    @media screen and(max-width: 900px) {
        height: 56px;
    }
    .user-header {
        .mobileMenu,
        .mobileMenu span {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
        }
        .mobileMenu {
            position: relative;
            width: 28px;
            height: 28px;
            @include boxSizing;
            margin: 14px;
            span {
                position: absolute;
                left: 0;
                width: 16px;
                height: 2px;
                margin: 6px;
                background-color: #000;
                border-radius: 4px;
            }
            span:nth-of-type(1) {
                top: -1px;
                -webkit-animation: menubar01 .75s forwards;
                animation: menubar01 .75s forwards;
            }
            @-webkit-keyframes menubar01 {
                0% {
                    -webkit-transform: translateY(20px) rotate(45deg);
                }
                50% {
                    -webkit-transform: translateY(20px) rotate(0);
                }
                100% {
                    -webkit-transform: translateY(0) rotate(0);
                }
            }
            @keyframes menubar01 {
                0% {
                    transform: translateY(20px) rotate(45deg);
                }
                50% {
                    transform: translateY(20px) rotate(0);
                }
                100% {
                    transform: translateY(0) rotate(0);
                }
            }
            span:nth-of-type(2) {
                top: 6px;
                transition: all .25s .25s;
                opacity: 1;
            }
            span:nth-of-type(3) {
                bottom: 0;
                -webkit-animation: menubar02 .75s forwards;
                animation: menubar02 .75s forwards;
            }
            @-webkit-keyframes menubar02 {
                0% {
                    -webkit-transform: translateY(-20px) rotate(-45deg);
                }
                50% {
                    -webkit-transform: translateY(-20px) rotate(0);
                }
                100% {
                    -webkit-transform: translateY(0) rotate(0);
                }
            }
            @keyframes menubar02 {
                0% {
                    transform: translateY(-20px) rotate(-45deg);
                }
                50% {
                    transform: translateY(-20px) rotate(0);
                }
                100% {
                    transform: translateY(0) rotate(0);
                }
            }
            .active span:nth-of-type(1) {
                -webkit-animation: active-menu-bar .75s forwards;
                animation: active-menu-bar .75s forwards;
            }
            @-webkit-keyframes active-menu-bar {
                0% {
                    -webkit-transform: translateY(0) rotate(0);
                }
                50% {
                    -webkit-transform: translateY(20px) rotate(0);
                }
                100% {
                    -webkit-transform: translateY(20px) rotate(45deg);
                }
            }
            @keyframes active-menu-bar {
                0% {
                    transform: translateY(0) rotate(0);
                }
                50% {
                    transform: translateY(20px) rotate(0);
                }
                100% {
                    transform: translateY(20px) rotate(45deg);
                }
            }
            .active span:nth-of-type(2) {
                opacity: 0;
            }
            .active span:nth-of-type(3) {
                -webkit-animation: active-menu-bar2 .75s forwards;
                animation: active-menu-bar2 .75s forwards;
            }
            @-webkit-keyframes active-menu-bar2 {
                0% {
                    -webkit-transform: translateY(0) rotate(0);
                }
                50% {
                    -webkit-transform: translateY(-20px) rotate(0);
                }
                100% {
                    -webkit-transform: translateY(-20px) rotate(-45deg);
                }
            }
            @keyframes active-menu-bar2 {
                0% {
                    transform: translateY(0) rotate(0);
                }
                50% {
                    transform: translateY(-20px) rotate(0);
                }
                100% {
                    transform: translateY(-20px) rotate(-45deg);
                }
            }
            @media screen and(min-width: 900px) {
                display: none;
            }
        }
        .gnb {
            @include afterSet;
            position: absolute;
            top: 33px;
            right: 50px;
            @media screen and(max-width: 900px) {
                display: none;
                position: absolute;
                top: 58px;
                right: 0;
                background: #fff;
                width: 100%;
                height: 47vh;
                z-index: 10;
                padding: 2.5em 1.8em;
                box-sizing: border-box;
            }
            li {
                float: left;
                margin: 0 10px;
                font-size: 16px;
                color: #333;
                @media screen and(max-width: 900px) {
                    overflow: hidden;
                    float: inherit;
                    width: 100%;
                    margin: 0;
                    font-size: 20px;
                    color: #333;
                    a {
                        display: block;
                        margin: 15px 0;
                        font-size: 20px;
                    }
                }
            }
        }
        li:nth-child(2) {
            position: relative;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 4px;
                left: -11px;
                width: 1px;
                height: 16px;
                background: #333;
                @media screen and(max-width: 900px) {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #dbdbdb;
                }
            }
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 4px;
                right: -10px;
                width: 1px;
                height: 16px;
                background: #333;
                @media screen and(max-width: 900px) {
                    top: 57px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #dbdbdb;
                }
            }
        }
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -30px;
        margin-left: 80px;
        height: 90px;
        width: 180px;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        @media screen and(max-width: 900px) {
            position: absolute;
            top: 0;
            left: 50%;
            margin: 0 auto;
            width: 182px;
            height: 56px;
            transform: translateX(-50%)
        }
    }
}


/* 모달 배경 */

.show-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.65);
    transition: visibility 0s liner 0s, opacity 0.25s 0s, transform 0.25s;
    transform: scale(1.0);
    z-index: 10;
}

//footer
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    color: #999;
    background-color: #efefef;
    .footer-content {
        width: 100%;
        max-width: 1190px;
        margin: 0 auto;
        @include afterSet;
        .left-txt {
            float: left;
            width: 50%;
            text-align: left;
            @media screen and (max-width: 720px) {
                float: initial;
                width: 314px;
                margin: 0 auto;
            }
            ul {
                @include afterSet;
                li {
                    position: relative;
                    float: left;
                    padding: 15px;
                    &:after {
                        display: inline-block;
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 1px;
                        height: 10px;
                        margin-top: -5px;
                        background-color: #999;
                    }
                    &:last-child:after {
                        width: 0;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
        .right-txt {
            float: left;
            width: 50%;
            text-align: right;
            padding: 15px 0;
            @media screen and (max-width: $break-tab) {
                float: initial;
                width: 100%;
                margin: 0 auto;
                word-break: break-all;
                word-wrap: break-word;
            }
            @media screen and (max-width: $break-mobile) {
                font-size: 12px;
                text-align: center;
            }
        }
        @media screen and(max-width: $break-tab) {
            max-width: 1190px;
        }
        @media screen and(max-width: $break-mobile) {
            max-width: 750px;
        }
    }
}

#account-wrap+footer {
    display: none;
}

.subFooter {
    margin-top: 50px;
    text-align: center;
    background-color: #fff;
}


/* 파트너 센터 - 헤더 */

#sub-header {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 1190px;
    height: 90px;
    margin: 0 auto;
    @media screen and (max-width: 1190px) {
        min-width: 100%;
    }
    h1,
    ul {
        float: left;
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -30px;
        margin-left: 80px;
        height: 90px;
        width: 180px;
        @include boxSizing;
        img {
            width: 100%;
        }
        @media screen and (max-width:1190px) {
            margin-left: 2%;
        }
    }
    .center {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1400px;
        transform: translateX(-50%);
        ul {
            margin-left: 10%;
        }
        ul li {
            list-style: none;
            float: left;
            font-size: 20px;
            font-weight: 700;
            color: #333;
            line-height: 90px;
            padding: 0 30px;
        }
        @media screen and (max-width:1740px) {
            max-width: 1190px;
            position: relative;
            top: 0;
            left: 0;
            margin-left: 220px;
            transform: translateX(0);
        }
        @media screen and (max-width:1190px) {
            display: none;
        }
    }
    .top-nav {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 50px;
        height: 90px;
        @include boxSizing;
        @include afterSet;
        a {
            display: inline-block;
            padding: 0 20px;
            margin: 20px 0;
            line-height: 50px;
            font-size: 14px;
            color: #999
        }
        .user-menu {
            position: relative;
            @include afterSet;
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -12px;
                left: -10px;
                width: 26px;
                height: 24px;
                background: url('../images/icon_login26x24.png');
                background-size: 26px 24px;
            }
            &::after {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -7px;
                right: 0;
                width: 1px;
                height: 14px;
                background: #999;
            }
        }
        @media screen and (max-width:1190px) {
            display: none;
        }
    }
}

h1 {
    font-weight: bold;
    font-size: 27px
}


/* 파트너센터 - 기본 레이아웃 */

#center-wrap,
#account-wrap {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    min-height: 90vh;
    padding-top: 40px;
    background-color: #efefef;
    @media screen and(max-width: 1139px) {
        width: 100%
    }
    @media screen and (max-width: 720px) {
        padding-top: 0;
    }
}

#center-wrap {
    width: 100%;
    max-width: 100%;
}


/* personal info - signUp */

#account-wrap {
    padding-top: 0;
    background-color: #fff;
}

.account-container {
    @include afterSet;
    margin: 0 auto;
    .left-wrap {
        float: left;
        width: 48%;
        max-width: 735px;
        height: 100vh;
        min-height: 990px;
        background: url('../images/side_bg.png') repeat-y;
        background-size: auto 100%;
        background-position: top right;
        @media screen and(max-width: 1440px) {
            width: 40%;
        }
        @media screen and(max-width: 1080px) {
            width: 35%;
        }
        @media screen and(max-width: 720px) {
            display: none;
        }
    }
    .content {
        float: left;
        max-width: 1140px;
        width: 52%;
        padding: 8.75em 7.2em 8.75em 7.2em;
        @include boxSizing;
        @media screen and(max-width: 1440px) {
            width: 60%;
        }
        @media screen and(max-width: 1080px) {
            width: 65%;
        }
        @media screen and(max-width: 720px) {
            width: 100%;
            padding: 2.5em 1.87em;
        }
        .sub-text {
            margin-bottom: 20px;
            font-size: 16px;
            color: #333;
        }
        .form-wrap {
            label {
                display: block;
                font-size: 12px;
                margin-bottom: 2px;
                color: #333;
                font-weight: bold;
            }
            input[type="text"],
            input[type="password"],
            input[type="tel"] {
                width: 100%;
                font-size: 14px;
            }
            .date-list {
                p {
                    font-size: 12px;
                    color: #333;
                    font-weight: bold;
                }
            }
            .hompage-form {
                label {
                    width: 100%
                }
                input[type="text"] {
                    display: inline-block;
                    width: 70%;
                }
                p {
                    display: inline-block;
                    margin-left: 7px;
                    font-size: 16px;
                    color: #666
                }
            }
        }
        .signupComplete-title {
            font-size: 34px;
            font-weight: bold;
            color: #2454d9;
            text-align: center;
            span {
                font-weight: normal;
            }
            @media screen and(max-width:$break-mobile) {
                br {
                    display: none;
                }
            }
        }
        .signupComplete-info {
            p {
                font-size: 13px;
                margin: 20px 0 80px 0;
                color: #333;
                line-height: 1.6;
            }
            .title {
                font-size: 16px;
                color: #000;
                font-weight: bold;
                margin: 0 auto;
                margin-top: 80px;
                line-height: 1;
            }
            .user-infomation {
                display: block;
                width: 100%;
                font-size: 20px;
                li {
                    @include boxSizing;
                    width: 100%;
                    padding: 15px 0 15px 73px;
                    margin-top: 8px;
                    border-radius: 30px;
                    background-color: #f4f4f4;
                    text-align: left;
                    color: #333;
                    span {
                        color: #000;
                    }
                }
            }
            @media screen and(max-width:$break-mobile) {
                br {
                    display: none;
                }
            }
        }
        .bottom-text-wrap {
            margin-top: 120px;
            margin-bottom: 80px;
            color: #333;
            font-size: 16px;
            strong {
                font-weight: bold;
            }
            a {
                color: #2454d9;
                text-decoration: underline;
            }
        }
        .paswordComplete-text {
            margin: 20px 0 70px 0;
        }
    } //content end
    .signUp-wrap {
        height: 2061px;
        max-height: 100%;
        background: url('../images/side_bg3.png') repeat-y;
        background-size: 100% 100%;
    }
    .signUp-wrap.short,
    .left-wrap.short {
        height: 93vh;
    }
    .findId-wrap {
        height: 95vh;
        max-height: 100%;
        background: url('../images/side_bg2.png') repeat-y;
        background-size: auto 100%;
        background-position: top right;
    }
    .login-wrap {
        height: 1080px;
        max-height: 100%;
        background: url('../images/side_bg.png') repeat-y;
        background-size: 100% 100%;
    }
    // .signUp-wrap.style2 {
    //     height: 1210px
    // }
    //약관동의
    .terms-title {
        font-size: 12px;
        font-weight: bold;
        color: #333;
        margin-bottom: 2px;
    }
    .terms-wrap {
        overflow-y: scroll;
        height: 200px;
        padding: 10px;
        color: #333;
        font-size: 12px;
        border: 1px solid #ccc;
        h5 {
            margin: 20px 0;
        }
        ul li {
            margin-top: 10px;
        }
    }
    .terms-wrap+form {
        margin-top: 10px;
    }
} //account-container end
.captcha-wrap {
    margin-bottom: 70px;
}

.hint-form {
    margin-top: 30px;
    p {
        font-size: 12px;
        margin-bottom: 2px;
        color: #333;
        font-weight: bold;
    }
}

.signup-info {
    font-size: 14px;
    color: #999;
    padding: 0 4.5em;
    .link {
        display: inline-block;
        font-size: 14px;
        color: #666;
        vertical-align: bottom;
        border-bottom: 1px solid #666;
    }
    margin-bottom:80px;
    @media screen and(max-width:$break-mobile) {
        margin-bottom: 4.3em;
        padding: 0;
    }
}

.findInfo-wrap {
    @include afterSet;
    .left-box,
    .right-box {
        float: left;
        width: 50%;
    }
    .right-box {
        text-align: center;
        .link {
            display: inline-block;
            font-size: 14px;
            color: #666;
            vertical-align: bottom;
            border-bottom: 1px solid #666;
            margin: 0 5px;
        }
    }
    @media screen and(max-width: $break-mobile) {
        .left-box,
        .right-box {
            width: 100%;
        }
        .right-box {
            margin: 40px 0 20px 0;
        }
    }
}

.findInfo-wrap+.button-wrap {
    margin-top: 50px;
    margin-bottom: 20px;
    @media screen and(max-width: 720px) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.sub-container {
    overflow: hidden;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1190px;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: #384d6e;
    nav {
        float: left;
        max-width: 370px;
        width: 31%;
        height: 100%;
        padding: 60px 40px;
        color: #fff;
        @include boxSizing;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    .content {
        float: right;
        max-width: 821px;
        width: 69%;
        padding: 3.75em 7.5em;
        @include boxSizing;
        background-color: #fff;
        .title {
            font-size: 12px;
            color: #333;
            font-weight: bold;
        }
        @media screen and (max-width:900px) {
            float: left;
            width: 100%;
            max-width: 900px;
            padding: 1.8em 3.75em;
        }
        @media screen and (max-width:$break-mobile) {
            padding: 2.5em 1.75em;
        }
    }
}

.form-wrap .info-text,
.content .info-text {
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
}

.form-wrap .info-text-row,
.content .info-text-row {
    margin-bottom: 6px;
}

.info-text.style2 {
    margin-top: 10px
}

.left-menu {
    border-bottom: 1ps solid #fff;
    .depth2 {
        &>li {
            position: relative;
            padding: 20px 0;
            border-top: 1px solid #fff;
            color: #e7edf5;
            font-size: 18px;
            padding-left: 34px;
            @include afterSet;
            @include boxSizing;
            span:before {
                display: block;
                content: '';
                position: absolute;
                top: 22px;
                left: 0;
                width: 24px;
                height: 24px;
            }
            ul li {
                font-size: 13px;
                color: #fff;
                padding-left: 8px;
                padding-top: 6px;
                &:hover,
                &.on {
                    color: fff79d;
                }
            }
        }
    }
    @media screen and(max-width: $break-tab) {}
    @media screen and(max-width: $break-mobile) {
        //720px
        display: none;
    }
}

.set-site span:before {
    display: block;
    background: url('../images/icon_settingSite.png');
    background-size: 24px 24px;
}

.set-schedule span:before {
    display: block;
    background: url('../images/icon_settingSchedule.png');
    background-size: 24px 24px;
}

.set-menu span:before {
    display: block;
    background: url('../images/icon_settingMenu.png');
    background-size: 24px 24px;
}


/* 서브 컨텐츠 */

.content {
    h2 {
        margin-bottom: 20px;
        font-size: 30px;
        color: #000;
        font-weight: bold;
        line-height: 44px;
        letter-spacing: -1.5px;
    }
    h3 {
        font-size: 20px;
        color: #000;
        font-weight: bold;
        line-height: 28px;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }
    h4 {
        font-weight: bold;
        font-size: 16px;
    }
}


/* setting ship */

.schedule-wrap {
    margin-top: 8px;
    .setting-shipName,
    .setting-shipNum {
        @include afterSet;
        margin-bottom: 8px;
        p {
            float: left;
            width: 32%;
            line-height: 40px;
        }
        .select-wrap {
            float: right;
            width: 67%;
        }
        @media screen and(max-width:720px) {
            p {
                width: 100%
            }
            .select-wrap {
                float: left;
                width: 100%;
            }
        }
    }
}

.setting-wrap {
    width: 100%;
    .top-container {
        @include afterSet;
        @include boxSizing;
        .left-wrap {
            float: left;
            width: 50%;
            height: 102px;
            padding: 14px 50px;
            background-color: #e7edf5;
            @include boxSizing;
            border: 1px solid #c8d2e2;
            border-right: 0;
            @media screen and(max-width: 1200px) {
                padding: 4% 5%;
            }
            @media screen and(max-width: 500px) {
                width: 100%;
            }
        }
        .right-wrap {
            float: left;
            width: 50%;
            height: 102px;
            padding: 14px 50px;
            background-color: #e7edf5;
            @include boxSizing;
            border: 1px solid #c8d2e2;
            @media screen and(max-width: 1200px) {
                padding: 4% 5%;
            }
            @media screen and(max-width: 500px) {
                width: 100%;
            }
        }
        .select-form {
            display: inline-block;
            width: 120px;
            height: 34px;
            margin-left: 10px;
            @media screen and(max-width: 1080px) {
                width: 100%;
                margin-left: 0;
            }
        }
        p {
            display: inline-block;
            font-size: 12px;
            color: #666;
            @media screen and(max-width: 1080px) {
                display: block;
            }
        }
        .resultButton-wrap {
            button {
                display: block;
                min-width: 75px;
                padding: 4px 0;
                height: 25px;
                margin: 0 auto;
                margin-top: 13px;
                background: #758298;
                color: #fff;
                text-align: center;
                border-radius: 30px;
                font-size: 12px;
            }
        }
        .switch-wrap {
            @include afterSet;
            @include boxSizing;
            padding-top: 10px;
            padding-left: 58px;
            height: 32px;
            span {
                float: left;
                display: block;
                font-size: 12px;
                line-height: 25px;
                color: #666;
                @media screen and(max-width: 1080px) {
                    width: 33%;
                    text-align: center;
                }
            }
            .switch-box {
                float: left;
                position: relative;
                width: 35px;
                padding: 0 5px;
                input {
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: 35px;
                    height: 20px;
                    opacity: 0;
                    z-index: 0;
                }
                label {
                    display: block;
                    font-size: 0;
                    width: 35px;
                    height: 25px;
                    cursor: pointer;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 34px;
                        height: 14px;
                        z-index: 1;
                        opacity: 0.4;
                        border-radius: 8px;
                        background-color: #3c6bef;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 2px;
                        left: 5px;
                        width: 21px;
                        height: 21px;
                        border-radius: 50%;
                        z-index: 2;
                        opacity: 1;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.21);
                        background-color: #3c6bef;
                        transition: all 0.2s cubic-bezier(.4, 0 .2, 1);
                        transition-property: left, background-color;
                    }
                }
                //checked
                input:checked+label {
                    &:before {
                        opacity: 0.4;
                    }
                    &::after {
                        left: 18px;
                        opacity: 1;
                    }
                }
            }
            @media screen and(max-width:1200px) {
                padding-left: 30%;
            }
            @media screen and(max-width: 1080px) {
                padding: 2%;
            }
        }
    }
    .middle-container {
        position: relative;
        width: 100%;
        height: 645px;
        padding: 65px 85px 0 85px;
        border-left: 1px solid #c8d2e2;
        border-right: 1px solid #c8d2e2;
        background: url('../images/ship.png') no-repeat;
        background-size: 182px 518px;
        background-position: center center;
        @include boxSizing;
        @include afterSet;
        @media screen and(max-width: $break-mobile) {
            padding: 65px 15px 0 15px;
        }
        @media screen and(max-width: $break-mobileIphone) {
            height: 515px;
            padding: 65px 15px 0 15px;
            background-size: 140px 350px;
        }
        .top,
        .left,
        .right,
        .bottom {
            display: block;
            position: absolute;
            font-size: 11px;
            color: #000;
        }
        .top {
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
        .bottom {
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
        .left {
            top: 315px;
            left: 160px;
            @media screen and(max-width: 600px) {
                top: 50%;
                left: 18%
            }
        }
        .right {
            top: 315px;
            right: 160px;
            @media screen and(max-width: 600px) {
                top: 50%;
                right: 18%;
            }
        }
        .left-ship,
        .right-ship {
            position: absolute;
            top: 65px;
            width: 22px;
        }
        .left-ship {
            left: 85px;
        }
        .right-ship {
            right: 85px;
        }
        li {
            position: relative;
        }
        .leftJali {
            -webkit-display: flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            float: left;
            width: 22px;
            height: 90%;
            text-align: center;
        }
        .rightJali {
            -webkit-display: flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            float: right;
            width: 22px;
            height: 90%;
            text-align: center;
        }
        .reverse {
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            -webkit-align-items: center;
            align-items: center
        }
        .myjali {
            display: none;
            @include boxSizing;
            width: 22px;
            height: 22px;
            margin-bottom: 6px;
            font-size: 11px;
            border: solid 1px #999999;
            background-color: #efefef;
            cursor: pointer;
        }
        .myjali.checked {
            background-color: #2454d9;
            border: 1px solid #2254d9;
            color: #fff;
        }
        .myjali.occupied {
            position: relative;
            background-color: #b8c2d3;
            border: 1px solid #b8c2d3;
            font-size: 0;
            cursor: none;
        }
        .myjali.occupied:before {
            display: block;
            content: '';
            position: absolute;
            top: 2px;
            left: 9px;
            width: 1px;
            height: 16px;
            background-color: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .myjali.occupied:after {
            display: block;
            content: '';
            position: absolute;
            top: 2px;
            right: 9px;
            width: 1px;
            height: 16px;
            background-color: #fff;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        .myjali.notChoose {
            color: #333;
            background-color: #666;
            cursor: not-allowed;
            font-size: 0;
        }
    }
    .bottom-container {
        @include boxSizing;
        padding: 0 30px 30px;
        border-bottom: 1px solid #c8d2e2;
        border-left: 1px solid #c8d2e2;
        border-right: 1px solid #c8d2e2;
        margin-bottom: 70px;
        .list-box {
            @include afterSet;
            li {
                float: left;
                position: relative;
                padding: 0 20px 0 28px;
                font-size: 11px;
                color: #000;
                line-height: 22px;
            }
            li span {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 22px;
                height: 22px;
            }
            li:first-child span {
                background-color: #2454d9;
            }
            li:nth-child(2) span {
                @include boxSizing;
                background-color: #efefef;
                border: 1px solid #999;
            }
            li:nth-child(3) span {
                background-color: #b8c2d3;
            }
            li:nth-child(3) span:before {
                display: block;
                content: '';
                position: absolute;
                top: 3px;
                left: 11px;
                width: 1px;
                height: 16px;
                background-color: #fff;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            li:nth-child(3) span:after {
                display: block;
                content: '';
                position: absolute;
                top: 3px;
                right: 10px;
                width: 1px;
                height: 16px;
                background-color: #fff;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            li:nth-child(4) span {
                background-color: #666;
            }
        }
    }
}


/* board 영역 */

.board-wrap {
    margin-bottom: 30px;
}


/* table */

.table-wrap {
    overflow-x: auto;
    white-space: nowrap;
    .table-hasForm {
        td {
            input[type="text"] {
                width: 100%;
                margin-bottom: 0;
            }
        }
    }
}

.table-wrap.mobile-table {
    overflow: hidden;
    .table-style2 {
        width: 100%;
        @media screen and(max-width: $break-mobile) {
            td, th {
                display: block;
                width: 100%
            }
            td {
                border-bottom: 0;
            }
        }
    }
}

.table-style1 {
    // display: block;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 30px;
    white-space: nowrap;
    @media screen and(max-width: 1500px) {
        width: 580px;
    }
    tr th {
        background-color: #e7edf5;
        font-size: 12px;
        font-weight: bold;
        color: #384d6e;
        border: 1px solid #c8d2e2;
    }
    th,
    td {
        padding: 10px 20px;
        border-bottom: 1px solid #c8d2e2;
        border-left: 1px solid #c8d2e2;
        border-right: 1px solid #c8d2e2;
        white-space: nowrap;
    }
    tr th:first-child,
    tr td:first-child {
        border-left: 0
    }
    tr th:last-of-type,
    tr td:last-of-type {
        border-right: 0
    }
    td {
        color: #858585;
        font-size: 12px;
    }
}

table+.last-button-wrap {
    padding-top: 40px;
}

.table-style2 {
    width: 100%;
    margin-bottom: 8px;
    border-top: 2px solid #b8c2d3;
    border-bottom: 2px solid #b8c2d3;
    th {
        font-size: 12px;
        color: #384d6e;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        border-right: 1px solid #b8c2d3;
        border-bottom: 1px solid #b8c2d3;
    }
    td {
        font-size: 12px;
        color: #666;
        padding: 10px;
        border-bottom: 1px solid #b8c2d3;
    }
    .color-red {
        color: #e53935
    }
}

table {
    &.table-hasForm {
        td {
            padding: 5px;
        }
    }
    td {
        input[type="text"] {
            padding: 6px 10px;
            border-radius: 4px;
            border: 1px solid #b9b9b9;
        }
    }
}


/* tab menu */

.tab-wrap {
    @include afterSet;
    ul.tab-menu {
        @include afterSet;
        li {
            float: left;
            width: 33%;
            padding: 10px 0;
            text-align: center;
            color: #b8c2d3;
            background-color: #758298;
        }
        li.active {
            color: #758298;
            background-color: #e7edf5;
        }
        li:nth-child(2) {
            margin: 0 0.5%;
        }
    }
}

.info-page-check {
    margin-top: 19px;
    font-size: 14px;
    .full-block {
        padding: 9px 0;
    }
    span {
        display: inline-block;
        padding-right: 80px;
        font-size: 14px;
        color: #000
    }
}

.scheduleList-wrap {
    margin-top: 20px;
    padding-bottom: 40px;
}


/* button style */

.button-wrap {
    margin-bottom: 80px;
    text-align: center;
    @media screen and(max-width: $break-mobile) {
        margin-bottom: 20px;
    }
    button {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
    .large {
        min-width: 340px;
        height: 50px;
        border-radius: 25px;
        background-color: #133db1;
        @media screen and (max-width: 720px) {
            min-width: 100%;
            width: 100%;
        }
    }
    .default {
        width: 220px;
        height: 44px;
        border-radius: 22px;
        background-color: #758298;
        color: #fff;
        text-align: center;
        margin: 0 auto;
    }
    .button-primary {
        background-color: #133db1;
    }
    .middle {
        float: left;
        min-width: 120px;
        height: 44px;
        margin-left: 10px;
        line-height: 44px;
        background: #758298;
        color: #fff;
        text-align: center;
        border-radius: 22px;
        font-size: 14px;
        margin-bottom: 8px;
        text-indent: initial;
    }
}

.button-wrap.table-form {
    margin-bottom: 0;
    @include afterSet;
    button.button-modify {
        display: inline-block;
        width: 60px;
        padding: 5px 0;
        background: #758298;
        color: #fff;
        text-align: center;
        border-radius: 22px;
        font-size: 12px;
    }
    button.button-delete {
        display: inline-block;
        width: 60px;
        padding: 5px 0;
        margin-left: 10px;
        background: #ef5350;
        color: #fff;
        text-align: center;
        border-radius: 22px;
        font-size: 12px;
    }
    button.small {
        width: 60px;
        padding: 5px 0;
    }
    button.button-delete.small {
        margin-left: 4px;
    }
}

.table-style2+.button-wrap {
    width: 124px;
    float: right;
    margin-bottom: 50px;
}


/* updown form */

.button-wrap.updown-form {
    position: relative;
    top: 9px;
    left: 0;
    @include afterSet;
    margin-bottom: 0;
    button {
        float: left;
        width: 40px;
        height: 24px;
        border: 1px solid #a6b2c6;
        font-size: 0;
    }
    button:disabled {
        span {
            background-color: #a6b2c6;
        }
    }
    button.button-up {
        position: relative;
    }
    button span {
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 6px;
        background: #384d6e;
        font-size: 0;
        transform: translate(-50%, 0);
    }
    .button-up span {
        height: 7px
    }
    .button-up:before {
        display: block;
        content: '';
        position: absolute;
        top: 6px;
        left: 10px;
        width: 10px;
        height: 6px;
        background: #fff;
        z-index: 10;
        transform: rotate(-45deg);
    }
    .button-up:after {
        display: block;
        content: '';
        position: absolute;
        top: 6px;
        left: 18px;
        width: 10px;
        height: 6px;
        background: #fff;
        z-index: 10;
        transform: rotate(45deg);
    }
    button.button-down {
        position: relative;
        border-left: 0;
    }
    .button-down:before {
        display: block;
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 10px;
        height: 6px;
        background: #fff;
        z-index: 10;
        transform: rotate(45deg);
    }
    .button-down:after {
        display: block;
        content: '';
        position: absolute;
        top: 9px;
        left: 19px;
        width: 10px;
        height: 6px;
        background: #fff;
        z-index: 10;
        transform: rotate(-45deg);
    }
}


/* 개인정보 수정 */

.personalInfo-wrap {
    padding-top: 40px;
    padding-bottom: 80px;
    .form-wrap {
        .date-list {
            p {
                margin-bottom: 2px;
                font-size: 12px;
                color: #333;
                font-weight: bold;
            }
        }
        label {
            margin-bottom: 2px;
            font-size: 12px;
            color: #333;
            font-weight: bold;
        }
    }
}